[submodule "firmware/zubax_chibios"]
	path = firmware/zubax_chibios
	url = https://github.com/Zubax/zubax_chibios
[submodule "firmware/libuavcan"]
	path = firmware/libuavcan
	url = https://github.com/UAVCAN/libuavcan
[submodule "docs/reference_manual/document_templates"]
	path = docs/reference_manual/document_templates
	url = https://github.com/Zubax/document_templates
